<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<p>Print the invoice for customers</p>
<p>For new Challans or Bills for new clients <%= link_to "New Bill/Challan" , new_invoice_path%></p>

<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Consumer No</th>
    <th>Name</th>
    <th>View Invoice</th>
  </tr>
 
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer["consumer_no"] %></td>
      <td><%= customer["name"] %></td>
      <% client = Hash[:consumer_no => customer["consumer_no"],:billing_name => customer["name"], :billing_address => customer["address"], :billing_gstid => customer["gstid"], :quantity => customer["machine_count"], :rate => customer["plan"], :invoice_number => "#{customer["consumer_no"]}/#{DateTime.now.strftime("%m-%y")}/#{Invoice.where(:billing_name => customer["name"]).count+1}"] %>
       <td><%= link_to "Create Bill", new_invoice_path(client) %></td>
      </tr>
  <% end %>
</table>
