<p>View the invoices for customers</p>

<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Name</th>
    <th>July</th>
    <th>Aug</th>
    <th>Sept</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>March</th>
  </tr>
 
  <% @customers.each do |customer| %>
    <% client = Hash[:billing_name => customer["name"], :billing_address => customer["address"], :billing_gstid => customer["gstid"], :quantity => customer["machine_count"], :rate => customer["plan"]] %>
      
    <tr>
      <td><%= customer["name"] %></td>
      <td><%= link_to "#{@invoices.where(:billing_name => customer["name"], :month => 6).map { |e| e.invoice_number }}", "#" %></td>
      <td><%= link_to "#{@invoices.where(:billing_name => customer["name"], :month => 7).map { |e| e.invoice_number  }}", "#" %></td>
      <td><%= link_to "Bill Sept", "#" %></td>
      <td><%= link_to "Bill Oct", "#" %></td>
      <td><%= link_to "Bill Nov", "#" %></td>
      <td><%= link_to "Bill Dec", "#" %></td>
      <td><%= link_to "Bill Jan", "#" %></td>
      <td><%= link_to "Bill Feb", "#" %></td>
      <td><%= link_to "Bill March", "#" %></td>
      </tr>
  <% end %>
</table>
