<% if user_signed_in? %>
 
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Invoices List', invoices_invoice_list_path %></li>
  <li><%= link_to 'FY17-18', invoices_invoice_list1718_path %></li>
  <li><%= link_to 'April19-June19', invoices_Q1_path %></li>
  <li><%= link_to 'July19-Sep19', invoices_Q2_path %></li>
  <li><%= link_to 'Oct19-Dec19', invoices_Q3_path %></li>
  <li><%= link_to 'Jan19-March19', invoices_Q4_path %></li>
  <li><%= link_to 'Last Month Invoices Excel', invoices_invoice_list_path(format: "xls") %></li>
<% end %>
